/* Declare CSS variables */
:root {
    --button-background-purple: #381974;
    --button-hover-purple: #BD5FE5;
}

/* * {
    font-family: 'Trebuchet MS', 'Helvetica', 'sans-serif';
} */


/* h1 font size */
h1 {
    font-size: 250%;
}

/* h2 font size */
h2 {
    font-size: 200%;
}


/* Header section is a flexbox */
header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

header a {
    color: var(--button-background-purple);
    text-decoration: none;
}

/* Toggle whether to show home page */
#home-page {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px 700px;
}

#home-page p {
    margin: 30px 10px 15px 10px;
}

/* Make all buttons have background color purple with white text */
button {
    background-color: var(--button-background-purple);
    color: white;
    padding: 3px 9px;
    border-radius: 5px;
    border: 0;
}

button:hover {
    cursor: pointer;
    background-color: var(--button-hover-purple);
}



/* Toggle whether to show questions page */
#questions-page {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin: 100px 700px;
}

#questions-page h1 {
    margin-bottom: 20px;
}

#questions-page button {
    margin: 5px 0;
}

/* Toggle whether to show results page */
#results-page {
    display: block;
    text-align: left;
    margin: 100px 700px;
}

#results-page p {
    margin: 20px 0;
}

#results-page form {
    display: inline;
}
