/* Declare CSS variables */
:root {
    --button-background-purple: #381974;
    --button-hover-purple: #BD5FE5;
}

/* * {
    font-family: 'Trebuchet MS', 'Helvetica', 'sans-serif';
} */


/* h1 font size */
h1 {
    font-size: 250%;
}

/* h2 font size */
h2 {
    font-size: 200%;
}


/* Header section is a flexbox */
header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

header a {
    color: var(--button-background-purple);
    text-decoration: none;
}

/* Toggle whether to show home page */
#home-page {
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px 700px;
}

#home-page p {
    margin: 30px 10px 15px 10px;
}

/* Toggle whether to show questions page */
#questions-page {
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin: 100px 700px;
}

#questions-page h1 {
    margin-bottom: 20px;
}

#questions-page button {
    margin: 5px 0;
}

#questions-page footer {
    margin: 10px 0;
    padding-top: 10px;
    color: grey;
    border-top: 1px solid grey;
    width: 400px;
    text-align: left;
}

/* Toggle whether to show results page */
#results-page {
    /* display: block; */
    display: none;
    text-align: left;
    margin: 100px 700px;
}

#results-page p {
    margin: 20px 0;
}

#results-page form {
    display: inline;
}

/* Toggle whether to show Highscores page */
#highscores-page {
    display: block;
    /* display: none; */
    text-align: left;
    margin: 100px 700px;
}

#highscores-page h1 {
    margin-bottom: 20px;
}
#highscores-page p {
    margin: 10px auto;
}

#highscores-page button {
    margin-top: 10px;
}

#clear-highscores-btn {
    margin-left: 20px;
}






/* Make all buttons have background color purple with white text */
button {
    background-color: var(--button-background-purple);
    color: white;
    padding: 3px 9px;
    border-radius: 5px;
    border: 0;
}

button:hover {
    cursor: pointer;
    background-color: var(--button-hover-purple);
}